<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div>
				<h3>{{ title }}</h3>	
			</div>
			<div>
				<form ng-submit='delete(questionnaire)'>
					<div>
						<p>Title <strong>{{ questionnaire.title }}</strong></p>
						<p>Purpose <strong>{{ questionnaire.purpose }}</strong></p>
					</div>
					<div>
						<div class="panel panel-default">
							<div class="panel-heading">Questions</div>
							<table class="table table-condensed table-hover">
								<tbody>
									<tr ng-repeat="question in questionnaire.questions">
										<td style="width:5%;">
											<strong>{{ $index+1 }})</strong>
										</td>
										<td style="width:75%;">
											<p>{{ question.query }}</p>
											<ul>
												<li ng-repeat="choice in question.choices">
													{{ choice.value }}
												</li>
											</ul>
										</td>
										<td style="width:20%;" ng-if="question.question_type == 1">Text</td>
										<td style="width:20%;" ng-if="question.question_type == 2">Option</td>
										<td style="width:20%;" ng-if="question.question_type == 3">Multiple option</td>
									</tr>
								</tbody>
							</table>
						</div>
					<div>
						<p>Created <strong>{{ questionnaire.created_at | date: 'yyyy-MM-dd' }}</strong></p>
						<p>Last modified <strong>{{ questionnaire.updated_at | date: 'yyyy-MM-dd' }}</strong></p>
					</div>
					<div>
						<button type="submit" class="btn btn-primary">Delete</button>
						<a href="{{ links.back_to_list }}" class="btn btn-link">Back to list</a>
					</div>
				</form>
			</div>
		</div> <!-- end .col-md-6 -->
	</div><!-- end .row -->
</div><!-- end .container -->