<div>
	<h3>{{ title }}</h3>
	<a href="{{ links.new }}">New questionnaire</a>
</div>
<div>
	<table ng-show='list_on'>
		<thead>
			<tr>
				<th>title</th>
				<th>purpose</th>
				<th>status</th>
				<th>questions</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat='questionnaire in questionnaires'>
				<td><a href="{{ links.base_url + questionnaire._id + '/detail/' }}">{{ questionnaire.title }}</a></td>
				<td>{{ questionnaire.purpose }}</td>
				<td>{{ questionnaire.questions.length }}</td>
				<td><a href="{{ links.base_url + questionnaire._id + '/edit/' }}">Edit</a></td>
				<td><a href="{{ links.base_url + questionnaire._id + '/delete/' }}">Delete</a></td>
			</tr>
		</tbody>
	</table>
	<p ng-hide='list_on'>
		Questionnaires are not found, add a new menu from the "New questionnaire".
	</p>
</div>