<div>
	<h3>{{ title }}</h3>	
</div>
<div>
	<div>
		<p>Title <strong>{{ questionnaire.title }}</strong></p>
	</div>
	<div>
		<p>Purpose <strong>{{ questionnaire.purpose }}</strong></p>
	</div>
	<div>
		<h4>Questions</h4>
		<table>
			<tbody>
				<tr ng-repeat="question in questionnaire.questions">
					<td>{{ question.query }}</td>
					<td>{{ question.question_type }}</td>
					<td>
						<ol>
							<li ng-repeat="choice in question.choices">
								{{ choice.value }}
							</li>
						</ol>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<p>Created <strong>{{ questionnaire.created_at | date: 'yyyy-MM-dd' }}</strong></p>
	</div>
	<div>
		<p>Last modified <strong>{{ questionnaire.updated_at | date: 'yyyy-MM-dd' }}</strong></p>
	</div>
	<div>
		<a href="{{ links.back_to_list }}">Back to list</a> 
		- 
		<a href="{{ links.base_url + questionnaire._id + '/edit/' }}">Edit</a> 
		- 
		<a href="{{ links.base_url + questionnaire._id + '/delete/' }}">Delete</a>
	</div>
</div>