<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div>
				<h3>{{ title }}</h3>
			</div>
			<div>
				<!-- QUESTIONNAIRE FORM
				=============================================-->
				<form ng-submit='save(questionnaire)'>
					
					<div class="row">
						<div class="col-md-4">
							<!-- Title
							=============================================-->
							<div class="form-group">
								<label for="c-title">Title</label>
								<input type="text" name="title" id="c-title" ng-model="questionnaire.title" class="form-control">
							</div>
							
							<!-- Purpose
							=============================================-->
							<div class="form-group">
								<label for="c-purpose">Purpose</label>
								<textarea name="purpose" id="c-purpose" ng-model="questionnaire.purpose" class="form-control"></textarea>
							</div>
						</div> <!-- end .col-md-4 -->
					</div> <!-- end .row -->

					<div class="row">
						<div class="col-md-12">
							<div class="page-header">
								<h4>Add and edit questions</h4>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">
							<!-- QUESTION FORM
							=============================================-->
							<div class="panel panel-default">
  								<div class="panel-body">
									
									<!-- Query
									=============================================-->
									<div class="form-group">
										<label for="c-query">Query</label>
										<textarea name="query" id="c-query" ng-model="question.query" class="form-control"></textarea>
									</div>

									<!-- Type
									=============================================-->
									<div class="form-group">
										<p><strong>Type</strong></p>
										<label for="c-question_type_text" class="radio-inline">
											<input type="radio" name="question_type" id="c-question_type_text" ng-model="question.question_type" value="1">Text
										</label>
										<label for="c-question_type_option" class="radio-inline">
											<input type="radio" name="question_type" id="c-question_type_option" ng-model="question.question_type" value="2">Option
										</label>
										<label for="c-question_type_multipleoption" class="radio-inline">
											<input type="radio" name="question_type" id="c-question_type_multipleoption" ng-model="question.question_type" value="3">Multiple option
										</label>
									</div>
									
									<div ng-if="question.question_type != 1">
										<!-- CHOICE FORM
										=============================================-->	
										<p>Add choice</p>
										
										<!-- Value
										=============================================-->
										<div class="form-group">
											<div class="row">
											  	<div class="col-lg-12">
											    	<div class="input-group">
											      		<input type="text" name="value" id="c-value" ng-model="choice.value" class="form-control">
											      		
											      		<!-- CHOICE ACTIONS FORM
														=============================================-->
											      		<span class="input-group-btn">
											        		<button type="button" ng-click="saveChoice(choice)" class="btn btn-primary">Save choice</button>
											      		</span>
											    	</div><!-- /input-group -->
											  	</div><!-- /.col-lg-6 -->	
											</div>
										</div>
										
										<!-- CHOICE LIST
										=============================================-->
										<div class="form-group">
											<div class="panel panel-default">
											  	<div class="panel-heading">Choices</div>
											  	<table class="table table-condensed table-hover">
													<tbody>
														<tr ng-repeat="choice in question.choices">
															<td style="width:75%;">
																{{ choice.value }}
															</td>
															<td style="width:25%;">
																<button type="button" ng-click="deleteChoice(choice)" class="btn btn-primary">Delete</button>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div> <!-- end .well --> 

									<!-- QUESTION ACTIONS FORM
									=============================================-->
									<div class="form-group">
										<button type="button" ng-click="saveQuestion(question)" class="btn btn-primary">Save question</button>
										<button type="button" ng-click="resetQuestion()" class="btn btn-link">Reset</button>
									</div>
								</div><!-- end panel-body -->
							</div> <!-- end .panel.panel-default -->
						</div> <!-- end .col-md-4 -->

						<div class="col-md-8">
							<!-- QUESTION LIST
							=============================================-->
							<div class="panel panel-default">
								<div class="panel-heading">Questions</div>
								<table class="table table-hover">
									<tbody>
										<tr ng-repeat="question in questionnaire.questions">
											<td style="vertical-align:middle;width:8%;" ng-if="$first && !$last">
												<div class="btn-group-vertical">
													<button type="button" class="btn btn-primary btn-sm" disabled="disabled"><span class="glyphicon glyphicon-arrow-up"></span></button>
													<button type="button" ng-click="downQuestion(question)" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-arrow-down"></span></button>
												</div>
											</td>
											<td style="vertical-align:middle;width:8%;" ng-if="$middle && !$first && !$last">
												<div class="btn-group-vertical">
													<button type="button" ng-click="upQuestion(question)" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-arrow-up"></span></button>
													<button type="button" ng-click="downQuestion(question)" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-arrow-down"></span></button>
												</div>
											</td>
											<td style="vertical-align:middle;width:8%;" ng-if="$last && !$first">
												<div class="btn-group-vertical">
													<button type="button" ng-click="upQuestion(question)" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-arrow-up"></span></button>
													<button type="button" class="btn btn-primary btn-sm" disabled="disabled"><span class="glyphicon glyphicon-arrow-down"></span></button>
												</div>
											</td>
											<td style="vertical-align:middle;width:62%;">{{ question.query }}</td>
											<td style="vertical-align:middle;width:10%;" ng-if="question.question_type == 1">Text</td>
											<td style="vertical-align:middle;width:10%;" ng-if="question.question_type == 2">Option</td>
											<td style="vertical-align:middle;width:10%;" ng-if="question.question_type == 3">Multiple option</td>
											<td style="vertical-align:middle;width:20%;">
												<div class="btn-group">
													<button type="button" ng-click="editQuestion(question)" class="btn btn-link">Edit</button>
													<button type="button" ng-click="deleteQuestion(question)" class="btn btn-link">Delete</button>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div> <!-- end .panel.panel-default -->
						</div> <!-- end .col-md-8 -->
					</div> <!-- end .row -->

					<!-- QUESTIONNAIRE ACTIONS FORM
					=============================================-->
					<div class="form-group">
						<button type="submit" class="btn btn-primary">Save</button>
						<a href="{{ links.back_to_list }}" class="btn btn-link">Back to list</a>
					</div>
				</form>
			</div>
		</div> <!-- end .col-md-12 -->
	</div><!-- end .row -->
</div><!-- end .container -->