doctype html
html(lang='es-AR')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='eQuestionnaire, ¡Encuestas online!')
        title eQuestionnaire
        link(rel='stylesheet', href='/css/bootstrap.min.css')
    body
        nav.navbar.navbar-default.navbar-static-top(role='navigation')
            div.container-fluid
                div.navbar-header
                    a.navbar-brand(href='#') eQuestionnaire
        block content