<div>
	<h3>{{ title }}</h3>	
</div>
<div>
	<div>
		<p>Preview link <a href="/survey/preview/{{ survey._id }}"><strong>http://localhost:3000/survey/preview/{{ survey._id }}</strong></a></p>
	</div>
	<div>
		<p>Start date <strong>{{ survey.start_date | date: 'yyyy-MM-dd' }}</strong></p>
	</div>
	<div>
		<p>Effective days <strong>{{ survey.effective_days }}</strong></p>
	</div>

	<!-- Questionnaires
	============================-->
	<div>
		<p>Questionnaire <strong>{{ survey.questionnaire.title }}</strong></p>
	</div>

	<!-- Mail Account Settings
	============================-->
	<div>
		<p>Mail account settings <strong>{{ survey.mail_account_setting.name }}</strong></p>
	</div>
	
	<!-- Contacts & Contact List
	============================-->
	<div>
		<h5>Contacts & Contact lists</h5>
		<div>
			<label for="c-filter">Filter</label>
			<input type="text" name="filter" id="c-filter" ng-model="filter">
		</div>
		<table>
			<tbody>
				<tr ng-repeat="contact in survey.contacts | filter:filter | orderBy:'name'">
					<td>
						<div>Contact</div>
						<div>{{ contact.name }}</div>
						<div>{{ contact.email }}</div>
					</td>
				</tr>
				<tr ng-show="survey.contacts.length > 0 && survey.contact_lists.length > 0">
					<td>----------</td>
					<td>-------------------------</td>
				</tr>
				<tr ng-repeat="contact_list in survey.contact_lists | filter:filter | orderBy:'name'">
					<td>
						<div>Contact list</div>
						<div>{{ contact_list.name }}</div>
						<div>{{ contact_list.contacts.length }} contacts</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<p>Created <strong>{{ survey.created_at | date: 'yyyy-MM-dd' }}</strong></p>
	</div>
	<div>
		<p>Last modified <strong>{{ survey.updated_at | date: 'yyyy-MM-dd' }}</strong></p>
	</div>
	<div>
		<a href="{{ links.back_to_list }}">Back to list</a> 
		- 
		<a href="{{ links.base_url + survey._id + '/edit/' }}">Edit</a> 
		- 
		<a href="{{ links.base_url + survey._id + '/delete/' }}">Delete</a>
	</div>
</div>