<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div>
				<h3>{{ title }}</h3>	
			</div>
			<div>
				<div>
					<p>Name <strong>{{ contact_list.name }}</strong></p>
					<p>Contacts</p>
					<div class="form-group">
						<label for="c-filter">Filter</label>
						<input type="text" name="filter" id="c-filter" ng-model="filter" class="form-control">
					</div>
					<table class="table table-condensed table-hover">
						<tbody>
							<tr ng-repeat="contact in contact_list.contacts | filter:filter | orderBy:'name'">
								<td>
									<div>{{ contact.name }}</div>
									<div><small>{{ contact.email }}</small></div>
								</td>
							</tr>
						</tbody>
					</table>
					<p>Created <strong>{{ contact_list.created_at | date: 'dd-MM-yyyy' }}</strong></p>
					<p>Last modified <strong>{{ contact_list.updated_at | date: 'dd-MM-yyyy' }}</strong></p>
				</div>
				<div>
					<a href="{{ links.back_to_list }}" class="btn btn-primary">Back to list</a> 
					<a href="{{ links.base_url + contact_list._id + '/edit/' }}" class="btn btn-link">Edit</a> 
					<a href="{{ links.base_url + contact_list._id + '/delete/' }}" class="btn btn-link">Delete</a>
				</div>
			</div>
		</div> <!-- end .col-md-6 -->
	</div><!-- end .row -->
</div><!-- end .container -->