<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div>
				<h3>{{ title }}</h3>	
			</div>
			<div>
				<form ng-submit='save(contact_list)'>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label for="c-name">Name</label>
								<input type="text" name="name" id="c-name" ng-model="contact_list.name" class="form-control">
							</div>
						</div>
					</div>
					<div class="row">
						<!-- Contacts Available 
						====================================-->
						<div class="col-md-4">
							<h4>Contacts Available</h4>
							<div class="form-group">
								<label for="c-avaibleFilter">Filter</label>
								<input type="text" name="avaibleFilter" id="c-avaibleFilter" ng-model="avaible_filter" class="form-control">
							</div>
							<table class="table table-condensed table-hover">
								<tbody>
									<tr ng-repeat="contact in avaible_list | filter:avaible_filter | orderBy:'name'">
										<td>
											<div>{{ contact.name }}</div>
											<div><small>{{ contact.email }}</small></div>
										</td>
										<td>
											<button type="button" ng-click="avaibleCheck(contact)" class="btn btn-primary">add</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- Contacts Selected 
						====================================-->
						<div class="col-md-4">
							<h4>Contacts Selected</h4>
							<div class="form-group">
								<label for="c-selectedFilter">Filter</label>
								<input type="text" name="selectedFilter" id="c-selectedFilter" ng-model="selected_filter" class="form-control">
							</div>
							<table class="table table-condensed table-hover">
								<tbody>
									<tr ng-repeat="contact in contact_list.contacts | filter:selected_filter | orderBy:'name'">
										<td>
											<div>{{ contact.name }}</div>
											<div><small>{{ contact.email }}</small></div>
										</td>
										<td>
											<button type="button" ng-click="selectedCheck(contact)" class="btn btn-primary">remove</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div>
						<button type="submit" class="btn btn-primary">Save</button>
						<a href="{{ links.back_to_list }}" class="btn btn-link">Back to list</a>
					</div>
				</form>
			</div>
		</div> <!-- end .col-md-6 -->
	</div><!-- end .row -->
</div><!-- end .container -->