<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div>
				<h3>{{ title }}</h3>	
			</div>
			<div>
				<form ng-submit='save(mail_account_setting)'>
					<div class="form-group">
						<label for="c-name">Name</label>
						<input type="text" name="name" id="c-name" ng-model="mail_account_setting.name" class="form-control">
					</div>
					<div class="form-group">
						<label for="c-host">Host</label>
						<input type="text" name="host" id="c-host" ng-model="mail_account_setting.host" class="form-control">
					</div>
					<div class="form-group">
						<label for="c-port">Port</label>
						<input type="number" name="port" id="c-port" ng-model="mail_account_setting.port" class="form-control">
					</div>
					<div class="form-group">
						<label for="c-username">User name</label>
						<input type="email" name="username" id="c-username" ng-model="mail_account_setting.username" class="form-control">
					</div>
					<div class="form-group">
						<label for="c-password">Password</label>
						<input type="password" name="password" id="c-password" ng-model="mail_account_setting.password" class="form-control">
					</div>
					<div class="form-group">
						<label for="c-confirm-password">Confirm password</label>
						<input type="password" name="confirm_password" id="c-confirm-password" ng-model="mail_account_setting.confirm_password" class="form-control">
					</div>
					<div>
						<button type="submit" class="btn btn-primary">Save</button>						 
						<a href="{{ links.back_to_list }}" class="btn btn-link">Back to list</a>
					</div>
				</form>
			</div>
		</div> <!-- end .col-md-6 -->
	</div><!-- end .row -->
</div><!-- end .container -->