extends ../layout_private

block content
    h3 Change password
    form(method='post')
        div
            ul
                each item in errors
                    li #{item.field}: #{item.notification}
        div
            label(for='c-password') Current password
            input(type='password', name='password', id='c-password')
        div
            label(for='c-confirm_password') Confirm password
            input(type='password', name='confirm_password', id='c-confirm_password')
        div
            input(type='submit', value='submit')